<h2 class="breadcrumb">
  <a mat-button routerLink="/hospitals">
    Hospitals > 
   </a>
  <button mat-raised-button color="primary" (click)="newHospitalModal()">New</button>
</h2>
<mat-grid-list cols="4">
  <ng-container *ngFor="let hospital of hospitals; let i = index">
    <mat-grid-tile>
      <mat-card class="hospital-card"
                (click)="updateSelectedHospital(hospital)">
        <mat-card-header>
          <mat-card-title>
            <h4>{{ hospital.name }}</h4>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
