@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 2px 0 2px;
}

.details .mat-figure {
  padding: 5px 30px !important;
  align-items: initial !important;
  justify-content: initial !important;
  color: navy;
  overflow: auto;
}

app-hospitals-list, app-hospital-details, 
app-doctors-list, app-patients-list {
  min-width: 100%;
}

app-master {
  min-width: 100%;
}