<div>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
       <div>
         <a>
            Health Administrator
         </a>
       </div>
      </mat-toolbar>
      <main>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-grid-list cols="4" rowHeight="870px">
    <mat-grid-tile class="details" colspan="3">
      <router-outlet></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile class="master" colspan="1">
      <router-outlet name="detail"></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>
</div>